# macOS
.DS_Store

# Xcode build artifacts
DerivedData/
build/

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
